/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.hidden {
  display: none !important;
}
.sm_button {
  float: left;
  min-width: 40px;
  min-height: 40px;
  background: #76799b;
  border-shadow: 600px;
  -webkit-border-radius: 600px;
  -moz-border-radius: 600px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  margin-right: 10px;
  margin-top: -3px;
}
.no_selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.centred {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 20%;
  left: 0;
  position: absolute;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.collection {
  float: left;
  margin: 0px 30px 10px 0px;
  text-align: center;
}
.collection .preview {
  width: 160px;
  height: 90px;
  background-color: #62bb11;
}
.collection .title {
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #ffffff, 0px 1px 1px #666666;
  margin-top: 10px;
  color: #484a63;
  text-decoration: none;
}
.editorElement {
  margin-top: 10%;
}
.btn {
  display: inline-block;
  border: 0;
  background-color: #efefef;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 20px;
}
.btn:hover {
  border: 2px solid #000000;
  padding: 18px 18px;
}
.dialog {
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.row > div:last-child {
  margin-right: 0 !important;
}
.colorpicker {
  margin-top: 10%;
  height: 64px;
  border: 3px solid #fff;
  /* border-width: 2px 4px 6px 3px; */

  border-width: 6px;
  cursor: pointer;
  border-shadow: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 2px 0px #000000;
  -webkit-box-shadow: 0px 2px 0px #000000;
  -moz-box-shadow: 0px 2px 0px #000000;
}
.sizemodifier {
  margin-top: 10%;
  clear: both;
}
.sizemodifier label {
  color: white;
  font-size: 2em;
  text-shadow: 0px 1px 1px #000;
}
.sizemodifier input {
  border: 0px;
  font-size: 1em;
  float: right;
  width: 30%;
  margin-top: -2%;
  padding: 2%;
  text-align: center;
  color: #333;
  font-family: sans-serif;
}
.sizemodifier #sm_text {
  width: 96% !important;
  margin-bottom: 30px !important;
}
.btn-editor {
  display: inline-block;
  border: 0;
  background-color: #efefef;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 20px;
  margin-top: 10%;
  background: #ffff99;
}
.btn-editor:hover {
  border: 2px solid #000000;
  padding: 18px 18px;
}
.btn-editor.btn-delete {
  background-color: #cc0000;
}
body {
  font-family: sans-serif;
  background-color: #f2f3f5;
}
#page .btn-block {
  width: 405px;
  margin: 0 auto;
  margin-top: 15%;
}
#page .btn-block .btn {
  display: inline-block;
  border: 0;
  background-color: #efefef;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 40px;
}
#page .btn-block .btn:hover {
  border: 2px solid #000000;
  padding: 18px 38px;
}
#page .topcentered {
  margin: 20px auto 0;
  width: 90%;
}
#editor {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40%;
  height: 100%;
  background-color: #484a63;
  position: fixed;
  top: 0px;
  left: 0px;
}
#editor header {
  margin: 0 10%;
}
#editor header .colorpicker {
  margin: 30px 0 15px !important;
}
#editor section {
  margin: 0 10%;
}
#editor footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}
#editor footer .btn-editor {
  float: right;
}
#dialog_code {
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  font-family: monospace;
  overflow: scroll;
  font-size: 20px;
}
#dialog_code .inner {
  margin: 30px;
}
#dialog_colorpicker {
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #76799b;
}
#dialog_colorpicker .inner {
  margin: 0 10%;
}
#dialog_colorpicker .colorpicker {
  float: left;
  margin-top: 5%;
  width: 18%;
  margin-right: 4%;
  height: 50px;
}
#preview {
  margin-left: 40%;
  height: 100%;
  min-height: 600px;
  width: 480px;
  background-color: #fff;
  box-shadow: 10px 0px 20px #e2e6ec;
  -webkit-box-shadow: 10px 0px 20px #e2e6ec;
  -moz-box-shadow: 10px 0px 20px #e2e6ec;
}
.globalpreview #preview {
  margin: 0 auto !important;
  box-shadow: 0px 0px 20px #e2e6ec;
  -webkit-box-shadow: 0px 0px 20px #e2e6ec;
  -moz-box-shadow: 0px 0px 20px #e2e6ec;
}
#newpage input {
  border: 2px solid #000;
  padding: 10px;
  font-size: 2em;
}
#elementsNew {
  margin-top: 10%;
}
#elementsNew .elementNew {
  margin-top: 5%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: block;
  float: left;
  width: 22%;
  margin-right: 4%;
  padding: 8% 0;
}
#textNew {
  font-size: 62px;
  padding: 1% 0% !important;
  text-align: center;
}
#rectNew {
  box-shadow: inset 0px 0px 0px 11px #c24f4f;
  -webkit-box-shadow: inset 0px 0px 0px 11px #c24f4f;
  -moz-box-shadow: inset 0px 0px 0px 11px #c24f4f;
  background-color: #00ff00;
}
#circleNew {
  border-shadow: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  box-shadow: inset 0px 0px 0px 11px #c24f4f;
  -webkit-box-shadow: inset 0px 0px 0px 11px #c24f4f;
  -moz-box-shadow: inset 0px 0px 0px 11px #c24f4f;
  background-color: #00ff00;
}
.green_bg {
  background-color: #62bb11 !important;
}
.green_bg:hover {
  border-color: #315e08;
}
.blue_bg {
  background-color: #3498db !important;
}
.blue_bg:hover {
  border-color: #196090;
}
.pink_bg {
  background-color: #ce264a !important;
}
.pink_bg:hover {
  border-color: #78162b;
}
.yellow_bg {
  background-color: #d9ba00 !important;
}
.yellow_bg:hover {
  border-color: #736300;
}
.orange_bg {
  background-color: #ea6e26 !important;
}
.orange_bg:hover {
  border-color: #9b420f;
}
.white_bg {
  background-color: #ffffff !important;
}
.white_bg:hover {
  border-color: #cccccc;
}
.gray_bg {
  background-color: #dfdfdf !important;
}
.gray_bg:hover {
  border-color: #acacac;
}
.dgray_bg {
  background-color: #999999 !important;
}
.dgray_bg:hover {
  border-color: #666666;
}
.dgray_bg:hover {
  border-color: #cccccc;
}
.black_bg {
  background-color: #000000 !important;
}
.black_bg:hover {
  border-color: #000000;
}
.black_bg:hover {
  border-color: #333333;
}
/*
@media (max-width : 800px) {
  #editor {
    display: none;
  }
  #preview {
    margin-left: 0;
  }
}
*/