/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
.hidden {
  display: none;
}
.centred {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 40%;
  position: absolute;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.collection {
  float: left;
  margin: 0px 30px 10px 0px;
}
.collection .preview {
  width: 160px;
  height: 90px;
  background-color: #62bb11;
}
.collection .title {
  text-transform: uppercase;
}
.editorElement {
  margin-top: 10%;
}
.btn {
  display: inline-block;
  border: 0;
  background-color: #efefef;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 40px;
}
.btn:hover {
  border: 2px solid #000000;
  padding: 18px 38px;
}
.colorpicker {
  margin-top: 10%;
  height: 4em;
  border: 3px solid #000;
}
.sizemodifier {
  margin-top: 10%;
}
.sizemodifier label {
  text-decoration: underline;
}
.sizemodifier input {
  border: 0px;
}
.btn-editor {
  display: inline-block;
  border: 0;
  background-color: #efefef;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10%;
  padding: 20px 40px;
  background: #ffff99;
}
.btn-editor:hover {
  border: 2px solid #000000;
  padding: 18px 38px;
}
.btn-editor.btn-delete {
  background-color: #cc0000;
}
body {
  font-family: sans-serif;
}
#page .btn-block {
  width: 405px;
  margin: 0 auto;
  margin-top: 15%;
}
#editor {
  width: 40%;
  height: 100%;
  background-color: #dddddd;
  position: fixed;
  top: 0px;
  left: 0px;
}
#editor header {
  margin: 0 10%;
}
#editor section {
  margin: 0 10%;
}
#editor footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}
#editor footer .btn-editor {
  float: right;
}
#editor .row > div:last-child {
  margin-right: 0;
}
#preview {
  margin-left: 40%;
  height: 100%;
  min-height: 800px;
}
#newpage input {
  border: 2px solid #000;
  padding: 10px;
  font-size: 2em;
}
#elementsNew {
  margin-top: 10%;
}
#elementsNew .elementNew {
  margin-top: 5%;
  background-color: #efefef;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: block;
  float: left;
  width: 22%;
  margin-right: 4%;
  padding: 8% 0;
}
.green_bg {
  background-color: #62bb11;
}
.green_bg:hover {
  border-color: #315e08;
}
.pink_bg {
  background-color: #ce264a;
}
.pink_bg:hover {
  border-color: #78162b;
}
.yellow_bg {
  background-color: #d9ba00;
}
.yellow_bg:hover {
  border-color: #736300;
}
.orange_bg {
  background-color: #ea6e26;
}
.orange_bg:hover {
  border-color: #9b420f;
}
@media (max-width: 800px) {
  #editor {
    display: none;
  }
  #preview {
    margin-left: 0;
  }
}
