// Imports
@import "reset.less";

// Variables
@editorBackground: #DDD;
@editorWidth: 40%;

// Functions
.fixedPosition(@top, @left) {
  position: fixed;
  top: @top;
  left: @left;
}

// Attributes
.hidden {
  display: none;
}

.centred {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 40%;
  position: absolute;
}

// Class objects
.wrapper {
  width: 100%;
  height: 100%;
}

.editorElement {
  margin: 0 10%;
  margin-top: 10%;
}

.btn-block {
}

.btn {
  display: inline-block;
  border: 0;
  padding: 20px 40px;
  background-color: #efefef;
  color: #fff;
  text-decoration: none;

  &:hover {
    border: 2px solid #000000;
    padding: 18px 38px;
  }
}

// Sub class objects
.colorpicker {
  .editorElement;

  height: 4em;
  border: 3px solid #000;
}

.sizemodifier {
  .editorElement;

  label {
    text-decoration: underline;
  }
  input {
    border: 0px;
  }

}

.btn-editor {
  .btn;
  .editorElement;
  padding: 20px 40px;
  background: #ffff99;

  &.btn-delete {
    background-color: #cc0000;
  }
}

// Identity objects
body {
  font-family: sans-serif;
}

#page {
  .btn-block {
    width: 405px;
    margin: 0 auto;
    margin-top: 15%;
  }
}
#editor {
  width: @editorWidth;
  height: 100%;
  background-color: @editorBackground;
  .fixedPosition(0px,0px);

  header {

  }
  section {

  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;

    .btn-editor {
      float: right;
    }
  }
}

#preview {
  margin-left: @editorWidth;
  height: 100%;
  min-height: 800px;
}

#newpage {
  input {
    border: 2px solid #000;
    padding: 10px;
    font-size: 2em;
  }
}

// Colors

.green_bg {
  background-color: #62BB11;
}

.pink_bg {
  background-color: #CE264A;
}

.yellow_bg {
  background-color: #d9ba00;
}

.orange_bg {
  background-color: #ea6e26;
}

//@media all and (orientation: portrait) {
@media (max-width : 800px) {
  #editor {
    display: none;
  }
  #preview {
    margin-left: 0;
  }
}